.header_nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.left_menu {
	display: flex;
	flex-direction: row;
}

.col {
	padding: 0;
}

.button_container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.active_button {
	color: white;
}

.disabled_button {
	color: #8585ad;
}
